
<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="OwynGAW8zBN57y1btwsHgBhibeI06YnGNjMK64XTTwG64f2qmoebtxGgZH2cs/AQv+iu85HGgbwC2EOAxaz5Dw==" />

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:300,400|Questrial|Satisfy">
<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="stylesheets/agency.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- <link rel="stylesheet" media="all" href="/assets/agency.self-85671d42b3e02f227095b4bed97f297319ea1d7d8e91def851c6d15b950505db.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/agency.min.self-23e575613015c043a037fddbc004fe6afe0c8874ba80854ef0b667cea45afd97.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/bootstrap.self-7dec53a1fda2e9750614d3214d5bdbe132471309460ec0696d309fde0c31cebf.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/welcome.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/application.self-f0d704deea029cf000697e2c0181ec173a1b474645466ed843eb5ee7bb215794.css?body=1" data-turbolinks-track="reload" />
    <script src="/assets/rails-ujs.self-8944eaf3f9a2615ce7c830a810ed630e296633063af8bb7441d5702fbe3ea597.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/turbolinks.self-2db6ec539b9190f75e1d477b305df53d12904d5cafdd47c7ffd91ba25cbec128.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/agency.self-81b3eeab267c3849be70f86ea18c8df11085e614c12ac3191d60117f4700cd63.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/agency.min.self-d170c2ffad5908091be9203cfa862f95efcb32d98fb86a955ee399d233c98a88.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/bootstrap.self-8e84133c623bc4d897e342c1ee5ead00b01f43b4b1eff6480b092650e1d682f5.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/bootstrap.min.self-3f55ae7cb1e0ade8ec6caee602a1f92c77404301eca33b891f02f5418470abd1.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b8d3affffc59a114853451.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e66391252443ce9.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/contact_me.self-22ef32d3f6c5b2b941308cfa949c54610dcfe4f45a2aab4677ab357f4c4d6fff.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/contact_me.min.self-f872d7b6255ed32af77d11a418487520708281b3edb73b1d639fbb6f5249029e.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/jqBootstrapValidation.self-7591c8ba2912d80cbd394ad636ae5f8b7821c0e6896f5ccadda331b94c3eb759.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/jqBootstrapValidation.min.self-e40bcc183743b944a66386586db19824f39d7fb5b9138f75310ae251d37b202e.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/welcome.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/application.self-eba3cb53a585a0960ade5a8cb94253892706bb20e3f12097a13463b1f12a4528.js?body=1" data-turbolinks-track="reload"></script> -->


  </head>

  <body>
    <!DOCTYPE html>
<html lang="en" >

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Agency - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top" style="background:green">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background:black">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Joseph Molina</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <!-- <%= image_tag "goldenGate.jpg", size: "200x300" %> -->
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hello, My name is Joseph Molina!</div>
          <div class="intro-heading text-uppercase">An enthusiastic Android Developer</div>
          <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
        </div>
      </div>
    </header>

    <!-- ABOUT ME SECTION -->
    <section id="about" class="avenir-font section-padding" style="background: white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-center"> About Me </h1>
        </div>

        <!-- About Me text -->
        <div class="col-md-6 text-left">
          <div class="title-text">
            <p>I am a recent computer science graduate from California State University Monterey Bay. After graduation, I began working at
               the San Francisco startup named, Chatmost, an online marketplace website similar to Craigslist, OfferUp and LetGo. My primary responsibilities were
               to design and develop the Chatmost Android application. The Chatmost application is now on the Google Play Store with 50+ downloads! When I am not developing,
               I enjoy volunteering my time to help give back to my community. With the most recent being teaching elementary students with core programming concepts as part of CoderDojo.</p>

            <p>I am passionate about using my creativity and technical skills to develop products that make an impact. I feel incredibly privledged to a Software Engineer
            because it is one of the few fields where one can have an idea and make it a reality and with a click of a button release that idea across the world for everyone to use.</p>
            <p>&nbsp;</p>

            <p>Fun Facts: </p>
            <ul style="list-style-type:circle">
              <li>Competing in 5Ks</li>
              <li>Incredible 49ers fan! </li>
              <li>Learning how to play the piano. </li>
            </ul>
            <p>&nbsp;</p>
          </div>

        </div>


        <!--  About Me Image -->
        <div class="col-md-6 text-right ">
          <!--  width = 300 height = 310-->
          <%= image_tag "JMolina.jpg", size: "300x310" %>

          <!-- <img src="/assets/JMolina.jpg" class="img-responsive"> -->
        </div>

      </div>
    </div>
  </section>
  <!-- End of About me -->

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Technical Projects</h2>
            <h3 class="section-subheading text-muted">Below are some demos of my personal technical projects</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/buSmc79-Ims" frameborder="0" allowfullscreen></iframe>

            </a>
            <div class="portfolio-caption">
              <h4>Get Across</h4>
              <p class="text-muted"> Currently, building a text,voice and photo English to Spanish and vice versa translator. The completed application
              will include the functionality to save translations in order to view them in the future. The photo translation will function by capturing either
            English or Spanish text and translating it accordingly. All translations are currently being translated by the Yandex API. </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VBPnHGDvpl4" frameborder="0" allowfullscreen></iframe>
            </a>
            <div class="portfolio-caption">
              <h4>Chatmost</h4>
              <p class="text-muted"> This Android application, was completed during my 2017 fall internship at Chatmost. The application features functionality
                to create a new account, sign in into an existing account, verify your login/sign in PIN, view content posted by Chatmost users and functionality
                to create a new post which features taking a photo of the product the user would like to sell and adding additional information such as location, condition
                and brand. You can find and download this application on the Google Play Store! https://tinyurl.com/ya9xqbnk
              </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <!-- <img class="img-fluid" <img src="assets/seefood.png" alt=""> -->
              <!-- width = 200 height = 300 -->
              <%= image_tag "seefood.png", size: "200x300" %>
            </a>
            <div class="portfolio-caption">
              <h4>SeeFood</h4>
              <p class="text-muted"> Seafood is a supplemental restaraunt menu application. Users can search a restaraunt and view their entire menu,
              from there select a dish and view ingredient,allergenic and health information. </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_PZJ0GCN6bs" frameborder="0" allowfullscreen></iframe></div>
            </a>
            <div class="portfolio-caption">
              <h4>myMonte: University Hub</h4>
              <p class="text-muted"> myMonte is student based Android application built for California State University Monterey Bay.
                I specifically worked on the UI, which features a tab layout, along with the 'Parking Locator' feature that allows a student
                to save their parking location, furthermore I also worked on a 'Find my building' feature that provided Google Map directions to
                campus buildings. The alpha version can be found on the Google Play Store! https://tinyurl.com/y96nz5kz</p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="video"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cKWF7qP3TXU" frameborder="0" allowfullscreen></iframe></div>
            </a>
            <div class="portfolio-caption">
              <h4>Hangman</h4>
              <p class="text-muted"> Designed and developed an iOS application to play the popular Hangman game. iOS application features Google Firebase
              to create new account, login and to reset password. </p>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <%= image_tag "pocketcs.png", size: "200x300" %>
              <!-- <img class="img-fluid" <img src="assets/pocketcs.png" alt=""> -->
            </a>
            <div class="portfolio-caption">
              <h4>Pocket CS</h4>
              <p class="text-muted">Supplemental computer science learning application. </p>
            </div>
          </div>


        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Created in 2018 by Joseph Molina</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/josephmolina1/">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="../../assets/images/portfolio/01-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Threads</li>
                    <li>Category: Illustration</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="assets/portfolio/02-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Explore</li>
                    <li>Category: Graphic Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="assets/portfolio/03-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Finish</li>
                    <li>Category: Identity</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="assets/portfolio/04-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Lines</li>
                    <li>Category: Branding</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="assets/portfolio/05-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Southwest</li>
                    <li>Category: Website Design</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 class="text-uppercase">Project Name</h2>
                  <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                  <img class="img-fluid d-block mx-auto" src="assets/portfolio/06-full.jpg" alt="">
                  <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                  <ul class="list-inline">
                    <li>Date: January 2017</li>
                    <li>Client: Window</li>
                    <li>Category: Photography</li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>

  </body>
</html>
